[project]
name = "rule34Py"
description = "API wraper for rule34.xxx"
version = "2.0.0"
license = {file = "LICENSE"}
readme = "README.md"
keywords = [ "rule34.xxx", "adult", "nsfw", "rule34-pi", "api-client" ]
authors = [
    { name = "MiningXL", email = "miningxl@gmail.com" },
	{ name = "b3yc0d3", email = "b3yc0d3@gmail.com" },
	{ name = "Tal A. Baskin", email = "talbaskin.business@gmail.com" },
	{ name = "ripariancommit", email = "ripariancommit@protonmail.com" }
]
requires-python = ">=3.5"
maintainers = [
	{ name = "b3yc0d3", email = "b3yc0d3@gmail.com" }
]
dependencies = [
    "beautifulsoup4 >= 4.9.3",
    "requests >= 2.27.1",
    "lxml >= 4.6.4"
]
classifiers = [
	"Development Status :: 4 - Beta",
	"Programming Language :: Python :: 3.5",
	"Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Programming Language :: Python :: 3.10",
	"Programming Language :: Python :: 3.11",
	"License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
	"Operating System :: OS Independent"
]

[project.urls]
Issues = "https://github.com/b3yc0d3/rule34Py/issues"
Repository = "https://github.com/b3yc0d3/rule34Py"
Documentation = "https://github.com/b3yc0d3/rule34Py/tree/master/docs"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"